

.todo-list {
  margin-left: 25px;
  margin-top: 10px;
  text-shadow: 2px 2px 5px whitesmoke;
  font-style: italic;
  font-size: 1.8rem;
  font-family: cursive, sans-serif;
}

/* @media (max-width: 410px) {
  .todo-list {
    margin-left: 0;
    text-align: center;
  }
} */