
.main-form {
  margin-left: 25px;
  padding-top: 25px;
}

.add-todo-button {
  margin-left: 5px;
  color: #D3A173;
}

.clear-todo-button {
  margin-left: 5px;
  color: #D3A173;
}

@media (max-width: 410px) {

  .main-form {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .clear-todo-button {
    margin-left: 0;
    margin-top: 5px;
  }
  .add-todo-button {
    margin-left: 0;
    margin-top: 5px;
  }
  input {
    text-align: center;
  }
}